@media screen and (max-width: 576px) {
    /* menu section */
    
.nav-container {
    flex-direction: column;
    gap: 80px;
    margin-top: 60px;
    width: auto;
    height: auto;
}
.nav-items-container{
    flex-direction: column;
    gap: 20px;
}
}