@media screen and (max-width: 576px) {
    /* menu section */

    .nav-container {
        flex-direction: column;
       column-gap: 80px;
        margin-top: 60px;
        /* margin-bottom: 60px; */
        position: relative;
        width: 100%;
        height: auto;

    }

    .nav-items-container {
        flex-direction: column;
        gap: 20px;
    }

    .banner-container, .banner-bnt{

        flex-direction: column;
        column-gap: 80px;
        margin-top: 100px;
        position: relative;
        width: auto;
        height: auto;
    }
    .banner-text {
        flex-direction: column;
        justify-content: center;
        column-gap: 80px;
        margin-top: 100px;
        position: relative;
        width: auto;
        height: auto;
    }
    .banner-title1 {
        text-align: center;
    }

}