* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* shared styles */
body {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    padding: 20px 40px;
    border-radius: 50px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-style: none;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.btn-blue {
    background: #4EC5F7;
}

/* navbar here  */

.nav-container {
    max-width: 1920px;
    margin: 0px auto;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}


.logo-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    gap: 10px;
}

.logo-container img {
    width: 85px;
    height: 40px;
    object-fit: cover;
}

.logo-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;

}

.logo-container span {
    color: #FF42A5;
}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.icon-styles {
    width: 260px;
    height: 60px;
    padding: 18px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(11, 2, 35, 0.10);
}

.nav-items-container a {
    text-decoration: none;
}

/* banner item1 here  */

.banner-container {
    width: 1920px;
    margin: 0px auto;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%); */
}

.banner-text {
    /* border: 1px solid red; */
    width: 900px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-image: url('../images/Group14.png');
    background-repeat: no-repeat;
    /* background-size: ; */
    /* background-color: #fff2f9; */
}

.banner-title1 {
    text-transform: uppercase;
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}

.banner-tittle2 {
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.banner-description {
    display: flex;
    flex-direction: column;
    color: #534C64;
    text-align: start;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}

.banner-btn {
    display: flex;
    gap: 10px;
}

.banner-image {
    /* border: 1px solid green; */
    /* padding-top: 20px 240px 0px 60px; */
    width: 900px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%); */
}

.banner-image img {
    width: 100%;
    height: 100%;
}

/* banner item2 here  */

.banner2-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1920px;
    margin: 0px auto;
    padding: 0px 120px;
    height: 600px;
    background-color: #FFF;
    background: linear-gradient(220deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.banner2-text {

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
    justify-content: center;
}

.banner2-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
}

.banner2-description {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}

.bolder-text {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
}

/* online game  */
.online-game-container {
    /* border: 1px solid red; */
    width: 1920px;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 120px 240px;
    justify-content: center;
    align-items: center;
    background: #FFF;

}

.game-container-text {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.online-game-title {
    /* border: 1px solid black; */
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.online-game-title2 {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-game-description {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* .online-game-cards */


.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    gap: 30px;
    /* border: 2px solid rgb(13, 13, 12); */
}

.card-description {
    display: grid;
    gap: 40px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.card {
    /* border: 2px solid violet; */
    column-gap: 20px;
    width: 340px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.3s ease;
}


.card:hover .card-content {
    opacity: 1;
}

.play-icon {
    font-size: 40px;
    color: #fff;
    margin-bottom: 10px;
}

.watch-now {
    font-size: 20px;
    color: #c16363;
}

/* instant-play section  */
.play-container {
    width: 1920px;
    height: auto;
    margin: 0px auto;
}

.instant-play {
    border: 2px solid darkred;
    margin-left: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intstant-play-text {
    border: 2px solid green;
    /* display: grid;
    grid-template-rows: repeat(2,1fr); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.intstant-play-description {
    color: #534C64;
    text-align: right;
    width: 340px;
    font-size: 18px;
    font-weight: 400;
}

/* careers */




/* games */
.games {
    width: 1920px;
    height: 440px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 85px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.games1,
.games2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.games p {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}


/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    width: 1920px;
    height: 640px;
    margin: 0px auto;
    background: #0B0223;
}

.footer-logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}

.footer-description1 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 60px;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
}

.footer-description2 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.copy-rights {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
}